<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737266341845-u1hti6uj0u3vptko7jhjv8b5l7unb2qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737266341845-u1hti6uj0u3vptko7jhjv8b5l7unb2qh</string>
	<key>API_KEY</key>
	<string>AIzaSyAEbm8qspln9ZdwjBNf889PFkS-5ntUuak</string>
	<key>GCM_SENDER_ID</key>
	<string>737266341845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pakistansignlanguage.pk</string>
	<key>PROJECT_ID</key>
	<string>psl-dictionary</string>
	<key>STORAGE_BUCKET</key>
	<string>psl-dictionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737266341845:ios:33f2db5c03b84eb3b04f5c</string>
</dict>
</plist>